#main-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-me-container, header{
    display: flex;
    flex-direction: row;
}

.intro{
    text-align: left;
    padding: 20px;
}

.menu{
    align-self: flex-start;
    padding: 20px 0;
    margin-left: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{

    margin:0 20px;
}